@model IEnumerable<Shop.Web.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a northwind-id="@item.CategoryID">Link to picture</a>
                    @Html.NorthwindImageLink(imageId: item.CategoryID, linkText: "Link to picture")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Footer {
    <div class="container">
        User can't edit categories.
    </div>

}
